<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="extensions:add-to-google-bookmarks">
  <name>Add to Google bookmarks</name>
  <description>A simple bookmarklet</description>
  <author href="http://github.com/styx" email="styx.mp@gmail.com">Mikhail S. Pobolovets</author>
  <icon src="icons/add-to-gbm-64.png" />
  <access origin="https://google.com" />
</widget>
